*, *::after, *::before {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding-right: 2em; 
	padding-left: 2em; 
}

/* FILLER COLUMN SYSTEM */
.grid-empty-col {
	float: left;
	width: 8.33%;
}

/* 3-COLUMN GRID SYSTEM */
.grid-gallery-1of3 {
	margin: 0;
	float: left;
	width: 33.33%;
	padding-right: 1em;
}

.grid-gallery-2of3 {
	float: left;
	width: 66.66%;
	padding-right: 1em;
}

.grid-gallery-3of3 {
	float: left;
	width: 100%;
	padding-right: 1em;
}


/* 5-COLUMN GRID SYSTEM */
.grid-col-1of5 {
	width: 20%;
}

.grid-col-2of5 {
	width: 40%;
}

.grid-col-3of5 {
	width: 60%;
}

.grid-col-4of5 {
	width: 80%;
}

.grid-col-5of5 {
	width: 100%;
}

/* 3/6-COLUMN GRID SYSTEM */
.grid-col-1of6 {
	width: 16.66%;
}

.grid-col-2of6, .grid-col-1of3 {
	width: 33.33%;
}

.grid-col-3of6 {
	width: 49.99%;
}

.grid-col-4of6, .grid-col-2of3  {
	width: 66.66%;
}

.grid-col-5of6 {
	width: 83.33%;
}

.grid-col-6of6, .grid-col-3of3  {
	width: 100%;
}

.grid-row::after {
	content: "";
	display: block;
	clear: both;
}

body {
	padding-top: 5rem;
}

/* Media Query for Mobile*/
@media (max-width: 48.75em) {
	
	[class^='grid-col-'] {
		float: left;
		padding-right: 1em; 
		padding-left: 1em; 
	}

	.grid-col-1of6 {
		width: 50%;
	}

	.grid-col-2of6,.grid-col-3of6, .grid-col-4of6, .grid-col-5of6, .grid-col-6of6, .grid-col-1of3 {
	 	width: 100%;
	}

	.grid-col-1of5, .grid-col-2of5, .grid-col-3of5, .grid-col-4of5, .grid-col-5of5 {
		width: 100%;
	}

	.grid-gallery-1of3 {
		float: left;
		width: 100%;
	}
}



/*@media (min-width: 73em) {

	.grid-col-2of3 {
		width: 66.666%;
	}

	.grid-col-1of3 {
		width: 33.333%;
		padding-left: 1rem;
	}

	.grid-col-1of4 {
		width: 25%;
	}

	body {
		padding-top: 4rem;
	}
}*/






